<div class="layout layout--col">
  <div class="x-canvas x-half-horizontal">
    <div class="x-header">
      <span class="x-title">TRMNL X Starter</span>
      <span class="x-meta">Half horizontal</span>
    </div>

    <div class="x-content">
      <div class="x-content-inner">
        <div class="x-value">{{ value | default: "½" }}</div>
        <div class="x-description">Breiter Mashup-Slot</div>
      </div>
    </div>
  </div>
</div>
