<div class="layout layout--col">
  <div class="x-canvas x-quadrant">
    <div class="x-header">
      <span class="x-title">TRMNL X</span>
      <span class="x-meta">Quadrant</span>
    </div>

    <div class="x-content">
      <div class="x-content-inner">
        <div class="x-value">{{ value | default: "¼" }}</div>
      </div>
    </div>
  </div>
</div>
